.pageContainer {
    position: relative;
    display: flex;
    padding: 8px;
    background-color: #1f1f1f;
    // gap: 8px;
    justify-content: flex-start;
    height: 100vh;
    padding-bottom: 88px;
}

.left {
    // width: 20%;
    flex: 1;
    height: 100%;
    background-color: #1f1f1f;
    color: white;
    padding: 0 8px 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
}

.leftTop,
.leftBottom {
    border-radius: 8px;
    background-color: #333333;
}

.leftTop {
    height: 19%;
}

.leftBottom {
    height: 80%;
}

.middle {
    flex: 3;
    height: 100%;
    background-color: #4b4747;
    color: white;
    border-radius: 8px;
    margin-right: 8px;
    position: relative;
    padding: 72px 8px;
}

.middleNav{
    width: 100%;
    height: 64px;
    background-color: #0a0a0a;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 8px 0 0;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    padding: 8px;
}

.navButton{
    background-color: #333333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right {
    flex: 1;
    height: 100%;
    background-color: #333333;
    color: white;
    border-radius: 8px;
}

.divider {
    height: 100%;
    width: 2px;
    background-color: #1f1f1f;
    cursor: col-resize;
}

.footer {
    width: 100vw;
    height: 80px;
    background-color: #0a0a0a;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    opacity: 0.4;
}